<template>
    <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <slot name="title"></slot>
          </div>
          <div class="panel-body">
             <slot name="message"></slot>
          </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>

  .panel {
    cursor: pointer;
  }

</style>
