<template>
  <div class="row">
    
    <div class="col-md-12">
      <!-- make it a componet -->
      <h2 for="comment">Quote:</h2>

      <form class="form" @submit.prevent="addQuote">

        <div class="form-group">
          <label for="quote-title">Quote title</label>
          <input class="form-control" type="text" id="quote-title" v-model="quoteTitle">
        </div>

        <div class="form-group">
          <label for="quote-message">Quote title</label>
          <textarea id="quote-message" cols="30" rows="10" class="form-control" v-model="quoteMssg"></textarea>
        </div>

        <button class="btn btn-primary">Add Quote</button>

      </form>
    </div>

    <div class="col-md-12">
      <div class="row">

        <!-- component -->
        <app-single-quote v-for="(q,index) in quotes" :key="index" @click.native="removeQuote(index)">
          <h3 slot="title">{{ q.title }}</h3>
          <p slot="message"> {{ q.message }} </p>
        </app-single-quote>
        <!-- component -->

      </div>
    </div>  

  </div>
</template>

<script>

// I need to get 
// the array from outside
import Quote from './Quote.vue';

export default {
  props: {
    quotes: {
      type: Array, 
      required: true
    }
  }
  ,
  data () {
    return {
      quoteTitle: '',
      quoteMssg: ''
    }
  },
  methods: {
    addQuote () {
      
      let _title = this.quoteTitle;
      let _mssg = this.quoteMssg;

      if(_title === '' || _mssg === '' ) {
        
        this.quoteTitle = '';
        this.quoteMssg = '';
        
        return;
      }

      const _obj = {
        title: _title,
        message: _mssg
      };

      this.$emit('quoteAdded', _obj);

      this.quoteTitle = '';
      this.quoteMssg = '';

      console.log(this.quotes)

    },
    removeQuote (index) {
      //console.log(index)
      this.$emit('quoteRemoved', index)
    }
  },
  components: {
    appSingleQuote: Quote,
  }
}
</script>

<style scoped>
  .btn {
    display: block;
    margin: 15px auto 15px;
  }
</style>
