<template>
  
  <div class="row">
    <div class="col-md-12">
        <h1>Quotes Added</h1>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70"
          aria-valuemin="0" aria-valuemax="100"
          :class ="{ 
            'progress-bar-warning': warning,
            'progress-bar-danger' : danger         
            }"
          :style="{ width: quotes.length / maxQ * 100 + '%' }">
            <span class="_sr-only">{{ quotes.length }} / {{ maxQ }} </span>
          </div>
        </div>
      </div>
    </div>

</template>

<script>

export default {
  props: {
    maxQ: {
      type: Number,
      required: true
    },
    quotes: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      warning: false,
      danger: false
    }
  },
  watch: {
      quotes () {
           
          switch(this.quotes.length) {
            case 7:
            case 8:
              this.warning = true
              this.danger = false
              break;
            
            case 9:
            case 10:
              this.warning = false
              this.danger = true
              break;
            default:
              this.warning = false;
              this.danger = false  
          }

      } 
  }
}
</script>

<style>

</style>
