<template>

  <div class="row">
    <div class="col-md-12">
      <div class="alert-info text-center">
        Info: Click on a Quote to delete it!
      </div>
    </div>
  </div>

</template>

<script>
export default {

}
</script>

<style scoped>
  .alert-info {
    margin-top: 15px;
    padding: 15px;
  }
</style>
