<template>
    <div class="container">
        <app-quote-bar :maxQ="maxQuotes" :quotes="quotes"></app-quote-bar>
        <app-quote-grid @quoteAdded="handleAddedQuote" @quoteRemoved="handleRemovedQuote" :quotes="quotes"></app-quote-grid>
        <app-quote-info></app-quote-info>
    </div>
</template>

<script>
    import QuoteBar from './components/QuoteBar.vue';
    import QuoteGrid from './components/QuoteGrid.vue';
    import QuoteInfo from './components/QuoteInfo.vue';

    
    const progressBar = document.querySelector('.progress-bar');

    export default {
        data () {
            return {
                // selecting quotes
                quotes: [],
                // quotes max items
                maxQuotes: 10
            }
        },
        components: {
            appQuoteBar: QuoteBar,
            appQuoteGrid: QuoteGrid,
            appQuoteInfo: QuoteInfo
        },
        methods: {
            handleAddedQuote (obj) {
                this.quotes.push(obj);
                console.log(' the number of the quotes inserted : ' + this.quotes.length)
            },
            handleRemovedQuote (index) {
                console.log(`this is the index of the element:  ${index}. it will be removed.`);
                this.quotes.splice(index,1);
            }
        }
    }
</script>

<style>
</style>
